@media screen and (max-width:480px) {

    /* ---------------------------메인영역--------------------------- */
    #main {
        width: 100%;
        height: 400px;
    }

    #header {

        width: 100%;
        height: 100px;

    }

    #header #logo {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        line-height: 80px;
        font-size: 20px;
        /* 40px */
        font-weight: 900;
        text-align: center;
    }

    #header #nav {
        display: none;
        line-height: 100px;
        width: 100%;
        /* 650px */
        height: 20px;
        /* 50px */
    }

    #header #nav li {
        float: left;
        text-align: center;
        width: 20%;
        height: 20px;
    }

    #header #nav li a {
        display: block;
        line-height: 20px;
        font-size: 12px;
        /* 20px */
    }

    #header #nav li a:hover {
        font-size: 18px;
        color: #000;
        text-decoration: underline;
        transition: all 0.5s;
    }

    #main h1 {
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
        font-size: 5vw;
        /* 50px */
        color: rgb(45, 67, 51);
        opacity: 0;
        font-family: 'Fragment Mono', monospace;
    }

    .fixnav {
        display: none;
        position: fixed;
        top: 400px;
        right: 30px;
    }

    .fix_mn {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        width: 120px;
        height: 150px;
    }

    .fix_mn li {}

    .fix_mn a {
        display: block;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }

    .fix_mn a:hover {
        cursor: pointer;
        color: #000;
        font-weight: 800;
    }

    /* -----------------모바일 고정 네비--------------- */
    .m_fixnav {
        display: block;
        position: fixed;
        top: 300px;
        right: 10px;
    }

    .m_fix_mn {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        width: 60px;
        height: 80px;
    }

    .m_fix_mn li {}

    .m_fix_mn a {
        display: block;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        cursor: pointer;
    }

    .m_fix_mn a:hover {
        cursor: pointer;
        color: #000;
        font-weight: 800;
    }





    /* ----------------------소개 모바일 영역--------------------------- */

    #introduce {
        display: none;
    }

    #introduce_m {
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
    }

    #introduce_m .box_m {
        margin: 0 auto;
        width: 300px;

    }


    #introduce_m .box1_m {
        width: 100%;
        height: 100px;
        background-color: #fff;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #introduce_m .box1_m p {
        font-size: 3vw;
        font-family: 'Poor Story', cursive;
        /* 22px */
    }

    #introduce_m .box2_m {
        width: 100%;
        margin-top: 20px;
        border-radius: 5px;
        outline: 1px solid rgba(255, 255, 255, 0.658);
        outline-offset: -10px;
        overflow: hidden;

    }

    #introduce_m .box2_m img {
        width: 100%;
        display: block;
    }







    /* -------------------------모바일 스킬영역------------------------------ */

    #skill {
        display: none;
    }

    #skill_m {
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
        /* height: 800px; */
    }

    #skill_m .box {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        /* 900px */
        height: 200px;
        border: 2px solid #fff;
        border-radius: 5px;
    }

    #skill_m .skill_list {
        display: flex;
        justify-content: space-between;
        width: 120px;
        /* 300px */
        height: 100px;
        /* 320px */
    }

    #skill_m .skill_list li {
        width: 16px;
        /* 50px */
        height: 100px;
        /* 320px */
        position: relative;

    }

    #skill_m .skill_list li>div {
        position: relative;
        width: 16px;
        /* 50px */
        height: 100px;
        /* 300px */
        border: 1px solid #000;
        overflow: hidden;
    }

    #skill_m .skill_list li .in_box {
        position: absolute;
        bottom: 0px;
        left: 0;
        /* font-size: 16px; */
        text-align: center;
        opacity: 1;

    }


    #skill_m .skill_list li .in_box span {
        display: none;
        position: absolute;
        left: 0px;
        font-size: 10px;

    }



    #skill_m .skill_list li .in_box01 {
        width: 100%;
        height: 80px;
        /* 240px */
        background-color: rgb(178, 130, 223);

    }

    #skill_m .skill_list li .in_box02 {
        width: 100%;
        height: 70px;
        /* 210px */
        background-color: rgb(178, 130, 223);
    }


    #skill_m .skill_list li .in_box03 {
        width: 100%;
        height: 30px;
        /* 90px */
        background-color: rgb(178, 130, 223);

    }

    #skill_m .skill_list li .in_box04 {
        width: 100%;
        height: 40px;
        /* 120px */
        background-color: rgb(178, 130, 223);

    }

    #skill_m .skill_list li h5 {
        /* text-align: center; */
        font-size: 0.1vw;
        /* 14px */

    }

    #skill_m .skill_list li:nth-child(1) h5 {
        position: absolute;
        left: -2px;
    }

    #skill_m .skill_list li:nth-child(3) h5 {
        position: absolute;
        left: -10px;
    }

    #skill_m .skill_list li:nth-child(4) h5 {
        position: absolute;
        left: -5px;
    }

    .license_m {
        margin-left: 30px;
        /* 100px */
        width: 110px;
        /* 200px */
        height: 100px;
        /* 200px */
    }

    .license_m ul {
        width: 100%;
    }

    .license_m li {
        list-style: circle;
        font-weight: 700;
        font-size: 10px;
        /* 20px */
        margin-bottom: 20px;
        border-bottom: 1px solid #888;
        font-family: 'Poor Story', cursive;
    }

    .license_m li:nth-child(1) {
        list-style: none;
        border-bottom: none;
        text-align: center;
        margin-bottom: 30px;
        /* 50px */
        color: #000;
        font-size: 12px;
        /* 25px */
    }




    /* ----------------------모바일 프로젝트 영역-------------------- */

    #project {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        width: 100%;
        height: 600px;

    }

    #project_in {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    #project_in .web_mn {
        position: relative;
        width: 300px;
        /* 1000px */
        height: 150px;
        /* 500px */
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;

    }

    #project_in img {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        /* 1000px */
        height: 150px;
        /* 500px */
    }

    #project_in img:nth-child(1) {
        z-index: 5;
    }

    #project_in img:nth-child(2) {
        z-index: 4;
    }

    #project_in img:nth-child(3) {
        z-index: 3;
    }

    #project_in img:nth-child(4) {
        z-index: 2;
    }

    #project_in img:nth-child(5) {
        z-index: 1;
    }


    #project_in ul {
        margin-left: 0px;
        /* 50px */
        width: 300px;
        /* 500px */
        height: 150px;
        /* 500px */
        background-color: rgba(255, 255, 255, 0.932);
        border-radius: 5px;
        outline: 1px dotted #ccc;
        outline-offset: -10px;
        padding: 12px;
        box-sizing: border-box;
    }

    #project_in li {
        padding: 0px;
        /* 15px */
        font-size: 10px;
        /* 20px */
        font-family: 'Poor Story', cursive;
        line-height: 13px;
        /* 30px */
    }

    #project_in li:nth-child(1) {
        text-align: center;
    }

    #project_in li span {

        font-size: 12px;
        /* 25px */
        font-weight: 700;
        font-family: 'Poor Story', cursive;
    }










    /* ----------------------모바일 하단 영역-------------------- */
    #footer {
        /* display: flex;
    flex-direction: column;
    justify-content: center; */
        width: 100%;
        height: 750px;
    }

    #footer_in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        /* height: 750px; */
        border-bottom: 1px solid rgb(163, 161, 161);

    }

    #form {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border: 1px solid rgba(255, 255, 255, 0.842);
        border-radius: 5px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .field {
        margin-bottom: 10px;
    }

    .field label {
        display: block;
        font-size: 12px;
        color: #777;
    }

    .field input {
        display: block;
        min-width: 250px;
        line-height: 1.5;
        font-size: 14px;
    }

    input[type="submit"] {
        display: block;
        padding: 6px 30px;
        font-size: 14px;
        background-color: #4460AA;
        color: #fff;
        border: none
    }

    #footer h2 {
        margin-left: 0px;
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        /* 50px */
        text-shadow: 5px 5px rgba(114, 112, 112, 0.274);

    }

    #footer .bottom {
        margin: 0 auto;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        width: 100%;
        /* 1000px */
        height: 50px;
        line-height: 50px;
    }


    #footer .bottom .logo {
        font-size: 25px;
        /* 30px */
        float: left;
        font-weight: 900;
    }

    #footer .bottom .link {
        font-size: 14px;
        /* 18px */
        float: right;
    }
}