#wrap {
    width: 100%;

    background: url(../images/backgroudfull.png) no-repeat 0 0;
    /* background-size: 100%; */
}


#main {
    width: 100%;
    height: 800px;
}

#header {
    width: 100%;
    height: 100px;

}

#header #logo {
    margin-left: 50px;
    float: left;
    line-height: 100px;
    font-size: 40px;
    font-weight: 900;
    transition: 0.5s;
}

#header #logo:hover {
    transform: scale(1.2);
}

#header #nav {
    float: right;
    line-height: 100px;
    width: 650px;
    height: 50px;
}

#header #nav li {
    float: left;
    text-align: center;
    width: 20%;
    height: 50px;
}

#header #nav li a {
    line-height: 50px;
    font-size: 20px;
}

#header #nav li a:hover {
    font-size: 23px;
    color: #000;
    text-decoration: underline;
    transition: all 0.5s;
    transform: scale(1.2);
}

#main h1 {
    margin-top: 300px;
    margin-left: 200px;
    font-size: 80px;
    color: rgb(45, 67, 51);
    opacity: 0;
    font-family: 'Fragment Mono', monospace;
}

#main p {
    font-size: 30px;
}

#main span {
    color: rgb(78, 137, 19);
}

.fixnav {
    position: fixed;
    top: 400px;
    right: 30px;
    z-index: 9999;
}

.fix_mn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 120px;
    height: 150px;
}

.fix_mn li {}

.fix_mn a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.fix_mn a:hover {
    cursor: pointer;
    color: #000;
    font-weight: 800;
}

.m_fixnav {
    display: none;
}




/* ---------------------------소개영역--------------------------- */
#introduce {
    padding-top: 150px;
    box-sizing: border-box;
    width: 100%;
    height: 800px;


}

#introduce .box {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    position: relative;

}




#introduce .box1 {
    float: left;
    width: 1050px;
    height: 600px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 400px;
    /* 50px */
    border-radius: 5px;
    text-align: center;
    z-index: 100;
    position: relative;
}

#introduce .box1 h2 {
    text-align: center;
    font-size: 55px;
    position: absolute;
    top: -20px;
    left: 365px;
}

#introduce .box1 span {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Jua', sans-serif;

}

#introduce .box1 p {
    color: #000;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 20px;
    background-color: rgba(246, 246, 180, 0.768);
    font-weight: 600;
}

#introduce .box1 .icon1 {
    position: absolute;
    top: 150px;
    left: 20px;
}

#introduce .box1 .icon2 {
    position: absolute;
    top: 150px;
    right: 20px;
}

#introduce .box1 .icon3 {
    position: absolute;
    top: 350px;
    left: 30px;
}

#introduce .box1 .icon4 {
    position: absolute;
    top: 350px;
    right: 20px;
}

#introduce .box1 .icon5 {
    position: absolute;
    top: 500px;
    left: 340px;
}













#introduce .box2 {
    float: right;
    width: 350px;
    height: 350px;
    /* background-color: rgb(165, 146, 33); */
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 700px;
    /* 1400px */
    border-radius: 5px;
    /* outline: 1px solid rgba(255, 255, 255, 0.658);
    outline-offset: -10px; */

    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 200;
    border: 1px solid #ccc;

}

/* #introduce .box2 img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#introduce .box2 img.on {
    display: none;
    pointer-events: none;
} */

#introduce .box2 img {
    width: 100%;
    height: auto;
}






/* -----------------------모바일 영역---------------------- */
#introduce_m {
    display: none;
}


#skill_m {
    display: none;
}








/* ---------------------------스킬영역--------------------------- */

#skill {
    display: flex;
    align-items: center;
    width: 100%;
    height: 800px;

}

#skill .box {

    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 500px;
    border-radius: 5px;
    background-color: #fff;
    border-top: 1px solid rgb(219, 219, 204);
    border-bottom: 1px solid rgb(219, 219, 204);
}

#skill .skill_list {
    display: flex;
    justify-content: space-between;
    width: 23%;
    height: 320px;
}

#skill .skill_list li {

    width: 50px;
    height: 320px;

}

#skill .skill_list li>div {
    position: relative;
    width: 50px;
    height: 300px;
    border: 1px solid #000;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
}

#skill .skill_list li .in_box {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    color: #000;
}

#skill .skill_list li .in_box01 {
    width: 50px;
    height: 240px;
    background-color: rgb(148, 209, 83);

}

#skill .skill_list li .in_box02 {
    width: 50px;
    height: 210px;
    background-color: rgb(184, 233, 131);
}


#skill .skill_list li .in_box03 {
    width: 50px;
    height: 90px;
    background-color: rgb(211, 236, 184);

}

#skill .skill_list li .in_box04 {
    width: 50px;
    height: 90px;
    background-color: rgb(211, 236, 184);

}

#skill .skill_list li .in_box05 {
    width: 50px;
    height: 120px;
    background-color: rgb(172, 199, 143);

}

#skill .skill_list li h5 {
    text-align: center;
    font-size: 14px;
}






.experience {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid rgb(219, 219, 204);
    border-right: 1px solid rgb(219, 219, 204);
}

.experience ul {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.experience li {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}


.experience li span {
    background-color: rgb(217, 246, 213);
    font-weight: 700;
    font-size: 30px;
    color: #000;
}

.experience .imgbox {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.experience li img {
    width: 100px;
    cursor: pointer;

}

.experience li img:nth-child(2) {
    width: 70px;
}

.experience li img:nth-child(4) {
    width: 80px;
    height: 80px;
}

.experience li img:nth-child(5) {
    width: 110px;
}

.experience li img:nth-child(7) {
    width: 90px;

}

.experience li img:nth-child(9) {
    width: 80px;

}



.experience .text {
    width: 90%;
    height: 80px;
    background-color: rgb(243, 243, 188);
}

.experience .text p {
    font-size: 18px;
    font-family: 'Jua', sans-serif;
}

.experience .text li {
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    /* opacity: 0;
    transition: all 0.5s; */
}





.license {
    width: 23%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.license ul {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.license ul:first-child {
    height: 150px;
}

.license li {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.license>ul>li:nth-child(1) {
    list-style: none;
    border-bottom: none;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
    font-size: 30px;
}

.license span {
    background-color: rgb(217, 246, 213);
}


.license .blog {
    width: 100%;
}

.license a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.license .korea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.license .korea img {
    width: 60px;
}

.license a img {
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.license a p {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Jua', sans-serif;

}

/* -----------------------프로젝트영역--------------------------- */

#project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 800px;
}

#project_in {
    display: flex;
    justify-content: center;
    width: 100%;

}

#project_in .web_mn {
    position: relative;
    width: 1000px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;

}

#project_in img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 500px;
}

#project_in img:nth-child(1) {
    z-index: 5;
}

#project_in img:nth-child(2) {
    z-index: 4;
}

#project_in img:nth-child(3) {
    z-index: 3;
}

#project_in img:nth-child(4) {
    z-index: 2;
}



/* ----------------------프로젝트 탭메뉴--------------------- */
#project_in .tabMn {
    margin-left: 50px;
    width: 500px;
    height: 500px;
    position: relative;


}

#project_in .tab_ttl {
    display: flex;

    width: 100%;
    height: 30px;
}

#project_in .tab_ttl li {
    width: 50%;
    height: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Jua', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border: 1px solid #ccc;


}

#project_in .tab_ttl li:hover {
    background-color: #ccc;
    color: rgb(255, 252, 252);
    transition: all 0.5s;

}

#project_in .con {
    width: 500px;
    height: 470px;
    position: absolute;
    top: 30px;
    left: 0px;
    border: 1px solid #ccc;
}

#project_in .con a:hover {
    color: blue;
}


#project_in .con1 ul {
    /* margin-left: 50px; */
    width: 500px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 5px;
    outline: 1px dotted #ccc;
    outline-offset: -10px;
    z-index: 500;
}

#project_in .con1 li {
    padding: 15px;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    line-height: 20px;
}

#project_in .con1 li:nth-child(1) {
    text-align: center;
}

#project_in .con1 li span {

    font-size: 25px;
    font-weight: 700;
    font-family: 'Jua', sans-serif;
}

#project_in .con1 li a {
    font-size: 14px;
}








#project_in .con2 ul {
    /* margin-left: 50px; */
    width: 500px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 5px;
    outline: 1px dotted #ccc;
    outline-offset: -10px;
    z-index: 400;
}

#project_in .con2 li {
    padding: 15px;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    line-height: 23px;
}

#project_in .con2 li:nth-child(1) {
    text-align: center;
}

#project_in .con2 li span {

    font-size: 25px;
    font-weight: 700;
    font-family: 'Jua', sans-serif;
}

#project_in .con2 li a {
    font-size: 14px;
}







#project_in .con3 ul {
    /* margin-left: 50px; */
    width: 500px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 5px;
    outline: 1px dotted #ccc;
    outline-offset: -10px;
    z-index: 300;
}

#project_in .con3 li {
    padding: 15px;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    line-height: 23px;
}

#project_in .con3 li:nth-child(1) {
    text-align: center;
}

#project_in .con3 li span {

    font-size: 25px;
    font-weight: 700;
    font-family: 'Jua', sans-serif;
}

#project_in .con3 li a {
    font-size: 14px;
}






#project_in .con4 ul {
    /* margin-left: 50px; */
    width: 500px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 5px;
    outline: 1px dotted #ccc;
    outline-offset: -10px;
    z-index: 200;
}

#project_in .con4 li {
    padding: 15px;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    line-height: 23px;
}

#project_in .con4 li:nth-child(1) {
    text-align: center;
}

#project_in .con4 li span {

    font-size: 25px;
    font-weight: 700;
    font-family: 'Jua', sans-serif;
}

#project_in .con4 li a {
    font-size: 14px;
}









#project_in .con5 {
    width: 500px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 5px;
    outline: 1px dotted #ccc;
    outline-offset: -10px;
    z-index: 100;
}

#project_in .con5_sub1 {
    width: 500px;
    height: 220px;
}

#project_in .con5_sub1 li {
    padding: 15px;
    font-size: 16px;
    font-family: 'Jua', sans-serif;
    line-height: 18px;
}

#project_in .con5_sub1 li:nth-child(1) {
    text-align: center;
}

#project_in .con5_sub1 li span {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Jua', sans-serif;
}


#project_in .con5_sub2 ul {
    width: 500px;
    height: 250px;
    line-height: 20px;
    text-align: center;
    z-index: 400;
    background-color: rgba(255, 255, 255, 0.932);
    outline: 1px dotted #ccc;
    outline-offset: -10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

/* #project_in .con5_sub2 b {
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    color: #000;

} */



#project_in .con5_sub2 li {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ccc;
    width: 480px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project_in .con5_sub2 p {
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    font-weight: 700;

}

#project_in .con5_sub2 a {
    font-size: 16px;
    color: #4460AA;
}






/* ---------------------------하단영역--------------------------- */

#footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    height: 1600px;
}

#footer_in {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 1500px;
    border-bottom: 1px solid rgb(163, 161, 161);

}

#form {
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.842);
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
}

#form .img {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form img {
    width: 80px;

}

.field {
    height: 70px;
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 18px;
    color: #777;
}

.field input {
    display: block;
    min-width: 470px;
    height: 40px;
    line-height: 1.5;
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #44aa50;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none
}




#footer h2 {
    text-align: center;
    font-size: 90px;
    text-shadow: 5px 5px rgba(114, 112, 112, 0.274);
}

#footer .bottom {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 50px;
}


#footer .bottom .logo {
    font-size: 30px;
    float: left;
    font-weight: 900;
}

#footer .bottom .link {
    font-size: 18px;
    float: right;
}