#wrap {
    width: 100%;
    background: -webkit-linear-gradient(-45deg,
            rgb(194, 243, 208)20%, rgb(255, 234, 253)40%,
            rgb(194, 197, 243)80%);
    background: -ms-linear-gradient(-45deg,
            rgb(194, 243, 208)20%, rgb(255, 234, 253)40%,
            rgb(194, 197, 243)80%);
    background: -moz-linear-gradient(-45deg,
            rgb(194, 243, 208)20%, rgb(255, 234, 253)40%,
            rgb(194, 197, 243)80%);
    background: -o-linear-gradient(-45deg,
            rgb(194, 243, 208)20%, rgb(255, 234, 253)40%,
            rgb(194, 197, 243)80%);
}


#main {
    width: 100%;
    height: 800px;
}

#header {
    width: 100%;
    height: 100px;

}

#header #logo {
    margin-left: 50px;
    float: left;
    line-height: 100px;
    font-size: 40px;
    font-weight: 900;
}

#header #nav {
    float: right;
    line-height: 100px;
    width: 650px;
    height: 50px;
}

#header #nav li {
    float: left;
    text-align: center;
    width: 20%;
    height: 50px;
}

#header #nav li a {
    line-height: 50px;
    font-size: 20px;
}

#header #nav li a:hover {
    font-size: 23px;
    color: #000;
    text-decoration: underline;
    transition: all 0.5s;
}

#main h1 {
    margin-top: 300px;
    margin-left: 200px;
    font-size: 50px;
    color: rgb(45, 67, 51);
    opacity: 0;
    font-family: 'Fragment Mono', monospace;
}

.fixnav {
    position: fixed;
    top: 400px;
    right: 30px;
}

.fix_mn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 120px;
    height: 150px;
}

.fix_mn li {}

.fix_mn a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.fix_mn a:hover {
    cursor: pointer;
    color: #000;
    font-weight: 800;
}






/* ---------------------------소개영역--------------------------- */
#introduce {
    padding-top: 150px;
    box-sizing: border-box;
    width: 100%;
    height: 800px;


}

#introduce .box {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    position: relative;

}

#introduce .box1 {
    float: left;
    width: 450px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

#introduce .box1 p {
    color: #000;
    font-size: 22px;
    line-height: 50px;
    font-family: 'Poor Story', cursive;
}

#introduce .box2 {
    float: right;
    width: 620px;
    /* background-color: rgb(165, 146, 33); */
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 1400px;
    border-radius: 5px;
    outline: 1px solid rgba(255, 255, 255, 0.658);
    outline-offset: -10px;
    overflow: hidden;

}

#introduce .box2 img {
    display: block;
    width: 100%;
    height: auto;

}






/* ---------------------------스킬영역--------------------------- */

#skill {
    display: flex;
    align-items: center;
    width: 100%;
    height: 800px;
}

#skill .box {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 5px;
}

#skill .skill_list {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 320px;
}

#skill .skill_list li {

    width: 50px;
    height: 320px;

}

#skill .skill_list li>div {
    position: relative;
    width: 50px;
    height: 300px;
    border: 2px solid #000;
    overflow: hidden;
}

#skill .skill_list li .in_box {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 16px;
    text-align: center;
    opacity: 0;
}

#skill .skill_list li .in_box01 {
    width: 50px;
    height: 240px;
    background-color: rgb(178, 130, 223);

}

#skill .skill_list li .in_box02 {
    width: 50px;
    height: 210px;
    background-color: rgb(178, 130, 223);
}


#skill .skill_list li .in_box03 {
    width: 50px;
    height: 90px;
    background-color: rgb(178, 130, 223);

}

#skill .skill_list li .in_box04 {
    width: 50px;
    height: 120px;
    background-color: rgb(178, 130, 223);

}

#skill .skill_list li h5 {
    text-align: center;
    font-size: 14px;
}

.license {
    margin-left: 100px;
    width: 200px;
    height: 200px;
}

.license ul {
    width: 100%;
}

.license li {
    list-style: circle;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #888;
    font-family: 'Poor Story', cursive;
}

.license li:nth-child(1) {
    list-style: none;
    border-bottom: none;
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-size: 25px;
}






/* -----------------------프로젝트영역--------------------------- */

#project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 800px;
}

#project_in {
    display: flex;
    justify-content: center;
    width: 100%;

}

#project_in .web_mn {
    position: relative;
    width: 1000px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;

}

#project_in img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 500px;
}

#project_in img:nth-child(1) {
    z-index: 5;
}

#project_in img:nth-child(2) {
    z-index: 4;
}

#project_in img:nth-child(3) {
    z-index: 3;
}

#project_in img:nth-child(4) {
    z-index: 2;
}

#project_in img:nth-child(5) {
    z-index: 1;
}


#project_in ul {
    margin-left: 50px;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 5px;
    outline: 1px dotted #ccc;
    outline-offset: -10px;
}

#project_in li {
    padding: 15px;
    font-size: 20px;
    font-family: 'Poor Story', cursive;
    line-height: 30px;
}

#project_in li:nth-child(1) {
    text-align: center;
}

#project_in li span {

    font-size: 25px;
    font-weight: 700;
    font-family: 'Poor Story', cursive;
}











/* ---------------------------하단영역--------------------------- */

#footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    height: 800px;
}

#footer_in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid rgb(163, 161, 161);

}

#form {}

.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
}

#footer h2 {
    margin-left: 100px;
    margin-top: 210px;
    text-align: center;
    font-size: 50px;
}

#footer .bottom {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 50px;
}


#footer .bottom .logo {
    font-size: 30px;
    float: left;
    font-weight: 900;
}

#footer .bottom .link {
    font-size: 18px;
    float: right;
}